{% extends "certificado/layout.html" %}

{% block content %}
<p>
	Central de validação de certificados {{site}}
	<br>
	Digite o código de verificação do certificado para verificar autenticidade.
</p>
<h2>
	Digite o código do certificado
</h2>
<div class="col-md-6 col-md-offset-3">
	<form action="#" class="form-group">
		<div class="form-group">
			<input type="text" id="certificate" class="form-control" placeholder="Código do Certificado" required="required">
		</div>
		<button class="btn btn-success">Validar</button>	
	</form>
</div>
{% endblock %}
						