{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>Validar certificado</title>
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="page-header">
					{% if request.user.is_authenticated %}
						<ul class="nav nav-pills">
						 	<li role="presentation" class="active"><a href="#">Home</a></li>
							<li role="presentation"><a href="#">Participante</a></li>
							<li role="presentation"><a href="#">Evento</a></li>
							<li role="presentation"><a href="#">Curso</a></li>
							<li role="presentation"><a href="#">Certificado</a></li>
							<p>
							Usuário: {{request.user}}
							<a href="{% url "account.logout" %}"><br><small>Sair</small></a>
							</p>
						</ul>
	
					{% else %}
					<p><a href="{% url "account.auth" %}"><br><small>Entrar</small></a></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="container certificate">	

				<div class="row">
					<div class="col-md-12 col-sm-12">
						{% block content %}{% endblock %}
						<!--a href="{% static "download/Trabalho_1Autor.pdf" %}">Certificado</a-->
					</div>
				</div>

       
		</div>
	</div>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
</body>
</html>